{% extends "base.html.twig" %}

{% block title  %}
	GreenVillage - Acceuil
{% endblock %}


{% block body %}

	<article class="brand container-fluid">
		<h1 class="titre">
			<b>Voici les marques les plus recherchées par les musiciens
			</b>
			<button class="bouton">
				<i class="fa-solid fa-arrow-left"></i>
			</button>
			<button class="bouton">
				<i class="fa-solid fa-arrow-right"></i>
			</button>
		</h1>

		<div class="marques container-fluid">
			<div class="img1">
				<img src="{{ asset('images/marque1.png') }}" class="marque1 img-fluid">
			</div>
			<div class="img1">
				<img src="{{ asset('images/marque1.png') }}" class="marque1 img-fluid">
			</div>
			<div class="img1">
				<img src="{{ asset('images/marque1.png') }}" class="marque1 img-fluid">
			</div>
			<div class="img1">
				<img src="{{ asset('images/marque1.png') }}" class="marque1 img-fluid">
			</div>

		</div>
		<div class="marques container-fluid">
			<div class="img2">
				<img src="{{ asset('images/marque1.png') }}" class="img-fluid">
			</div>
			<div class="img2">
				<img src="{{ asset('images/marque1.png') }}" class=" img-fluid">
			</div>
			<div class="img2">
				<img src="{{ asset('images/marque1.png') }}" class=" img-fluid">
			</div>
			<div class="img2">
				<img src="{{ asset('images/marque1.png') }}" class=" img-fluid">
			</div>

		</div>
		<div class="marques container-fluid">
			<div class="img3">
				<img src="{{ asset('images/marque1.png') }}" class=" img-fluid">
			</div>
			<div class="img3">
				<img src="{{ asset('images/marque1.png') }}" class=" img-fluid">
			</div>
			<div class="img3">
				<img src="{{ asset('images/marque1.png') }}" class=" img-fluid">
			</div>
			<div class="img3">
				<img src="{{ asset('images/marque1.png') }}" class=" img-fluid">
			</div>

		</div>

	</div>
</article>{% endblock %}
